<footer class="site-footer" xmlns="http://www.w3.org/1999/html">
  <a href="{{site.url}}">{{site.title}}</a>
  <div class="flex-container flex-row flex-start footer-wrapper">

    <div class="project full-width flex-container center-children" id="more-projects">
      <h3>More Projects</h3>
    </div>
    {% for project in site.project_list %}
    {% if project.title != page.title %}
    <div class="project full-width flex-container center-children flex-column" id="project-{{project.link}}">

      {% if project.published %}
        <a href="{{site.url}}project/{{project.link}}">
          <h3>{{ project.title }}</h3>
        </a>
      {% else %}
      <a>
        <h3>{{ project.title }}</h3>
      </a>
      <p>coming soon</p>
      {% endif %}

    </div>

    {% endif %}
    {% endfor %}
  </div>

</footer>
