<footer class="site-footer" xmlns="http://www.w3.org/1999/html">
  <a href="{{site.url}}">{{site.title}}</a>
  <div class="flex-container flex-row flex-start footer-wrapper">

    {% for project in site.posts %}
    {% if project.title != page.title and project.layout == "post"%}
    <div class="project full-width flex-container center-children flex-column" id="project-{{project.thumbnail}}">

      {% if project.category == "outside-project" %}
      <a href="{{project.link}}" target="_blank">
          <h3>{{ project.title }}</h3>
        </a>
      {% else %}
      <a href="{{site.url}}project/{{project.link}}">
        <h3>{{ project.title }}</h3>
      </a>
      {% endif %}

    </div>
    {% endif %}
    {% endfor %}
  </div>

</footer>
