/**
 * Index content
 */

article.about {

  max-width: $content-width;
  margin: $spacing-unit auto;
  h2{
    display: block;
    font-size: 1.75rem;
    line-height: 2.75rem;
    z-index: 1;
    margin: $spacing-unit * 2 0;
    font-weight: $light-font-weight;
  }

  b{
    font-weight: $semi-font-weight;
  }

  img{
    margin: 0 auto 10px auto;
    display: block;

  }

  p{
    font-size: 1rem;
    line-height: 2.25rem;
    a{
      @include linkUnderlines(white, $dark-text-color);
      @include color-animation();
      &:hover{
        @include linkUnderlines(white, $brand-color);
      }
    }
  }

  .img-side{
    flex:1;
  }

  .text-side{
    flex:2;
    padding-right: 55px;
  }

}

// ON TABLET
@include media-query($on-tablet) {

  article.about {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@include media-query($on-mobile) {

  article.about {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    h2{
      font-size: 1.25rem;
      line-height: 2rem;
    }
    p{
      line-height: 2rem;
    }

    .text-side{
      padding-right: 0;
    }
  }

}
