/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

.simulate-padding{
  margin: 20px;
}

@mixin stop-flicker{
  -webkit-transform-style: preserve-3d;
}


/**
 * Basic styling
 */
body {
    font-family: $secondary-font-family;
    line-height: $base-line-height;
    color: $dark-text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

p{
  font-family: $secondary-font-family;
  font-weight: $light-font-weight;
  line-height: 1.75;
  font-size: 0.75rem;
}

.visibility-hidden{
  visibility:hidden;
}

$dashed-border: #d1d1d1 1px dashed;

/**
 * Animation
 */

$base-animation-speed: 200ms;
$base-animation-delay: 10ms;

@mixin color-animation{
  -webkit-transition: color $base-animation-speed ease-out;
  -moz-transition: color $base-animation-speed ease-out;
  -o-transition: color $base-animation-speed ease-out;
  transition: color $base-animation-speed ease-out;
}


@mixin opacity-animation{
  -webkit-transition: opacity $base-animation-speed ease-out;
  -moz-transition: opacity $base-animation-speed ease-out;
  -o-transition: opacity $base-animation-speed ease-out;
  transition: opacity $base-animation-speed ease-out;
}


@mixin visibility-animation{
  -webkit-transition: visibility $base-animation-speed ease-out;
  -moz-transition: visibility $base-animation-speed ease-out;
  -o-transition: visibility $base-animation-speed ease-out;
  transition: visibility $base-animation-speed ease-out;
}

@mixin scale-animation{
  -webkit-transition: -webkit-transform $base-animation-speed ease-out;
  -moz-transition: -moz-transform $base-animation-speed ease-out;
  -o-transition: -o-transform $base-animation-speed ease-out;
  transition: transform $base-animation-speed ease-out;
}

@mixin top-animation{
  -webkit-transition: top $base-animation-speed ease-out;
  -moz-transition: top $base-animation-speed ease-out;
  -o-transition: top $base-animation-speed ease-out;
  transition: top $base-animation-speed ease-out;
}

@mixin top-animation-delay{
  -webkit-transition: top $base-animation-speed ease-out $base-animation-delay;
  -moz-transition: top $base-animation-speed ease-out $base-animation-delay;
  -o-transition: top $base-animation-speed ease-out $base-animation-delay;
  transition: top $base-animation-speed ease-out $base-animation-delay;
}

@mixin left-animation{
  -webkit-transition: left $base-animation-speed ease-out;
  -moz-transition: left $base-animation-speed ease-out;
  -o-transition: left $base-animation-speed ease-out;
  transition: left $base-animation-speed ease-out;
}

@mixin bottom-animation{
  -webkit-transition: bottom $base-animation-speed ease-out;
  -moz-transition: bottom $base-animation-speed ease-out;
  -o-transition: bottom $base-animation-speed ease-out;
  transition: bottom $base-animation-speed ease-out;
}

@mixin width-animation{
  -webkit-transition: width $base-animation-speed ease-out;
  -moz-transition: width $base-animation-speed ease-out;
  -o-transition: width $base-animation-speed ease-out;
  transition: width $base-animation-speed ease-out;
}

@mixin underline-pre{
  width: 0;
  white-space: nowrap;
  height: 25px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

@mixin slide-up{
  -webkit-animation: slide-up $base-animation-speed ease-out forwards; /* Safari 4+ */
  -moz-animation:    slide-up $base-animation-speed ease-out forwards; /* Fx 5+ */
  -o-animation:      slide-up $base-animation-speed ease-out forwards; /* Opera 12+ */
  animation:         slide-up $base-animation-speed ease-out forwards; /* IE 10+, Fx 29+ */

}

@mixin slide-down{
  -webkit-animation: slide-down $base-animation-speed ease-out forwards; /* Safari 4+ */
  -moz-animation:    slide-down $base-animation-speed ease-out forwards; /* Fx 5+ */
  -o-animation:      slide-down $base-animation-speed ease-out forwards; /* Opera 12+ */
  animation:         slide-down $base-animation-speed ease-out forwards; /* IE 10+, Fx 29+ */

}

@mixin grow{
  -webkit-transform: scale(1.03);
  -ms-transform:  scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform:   scale(1.03);
  transform:      scale(1.03);
}


// SLIDE UP
@-webkit-keyframes slide-up {
  100% {  transform: translate(0, -25px);  }
}
@-moz-keyframes slide-up {
  100% {  transform: translate(0, -25px);  }
}
@-o-keyframes slide-up {
  100% {  transform: translate(0, -25px);  }
}
@keyframes slide-up {
  100% {  transform: translate(0, -25px);  }
}

// SLIDE DOWN
@-webkit-keyframes slide-down {
  100% {  transform: translate(0, 25px);  }
}
@-moz-keyframes slide-down {
  100% {  transform: translate(0, 25px);  }
}
@-o-keyframes slide-down {
  100% {  transform: translate(0, 25px);  }
}
@keyframes slide-down {
  100% {  transform: translate(0, 25px);  }
}




/**
 * Underline
 */

.underline-default_color-white_bg{
  @include linkUnderlines(white, $dark-text-color);
}

.underline-secondary_color-white_bg{
  @include linkUnderlines(white, $brand-color);
}

.underline-default_color-brand_bg{
  @include linkUnderlines($brand-color, white);
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Margins
 */

@include media-query($on-desktop) {
  .margin-left{
    margin-left:  $margin-desktop;
  }
  .margin-right{
    margin-right: $margin-desktop;
  }
}

@include media-query($on-laptop) {
  .margin-left{
    margin-left:  $margin-laptop;
  }
  .margin-right{
    margin-right: $margin-laptop;
  }
}

@include media-query($on-laptop) {
  .margin-left{
    margin-left:  $margin-tablet;
  }
  .margin-right{
    margin-right: $margin-tablet;
  }
}

@include media-query($on-mobile) {
  .margin-left{
    margin-left:  $margin-mobile;
  }
  .margin-right{
    margin-right: $margin-mobile;
  }
}


/**
 * Images
 */
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

img[data-action="zoom"] {
  cursor: zoom-in !important;
  cursor: -moz-zoom-in;
}
img.zoom-img {
  cursor: zoom-out !important;
  cursor: -moz-zoom-out;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

ul{
  list-style-type: circle;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

h1{
  font-family:$base-font-family;
}

header{
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;


  .left-side{
    background: white;
  }
  span, a{
    font-family: $secondary-font-family;
    font-weight: $light-font-weight;
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
  a {
    @include linkUnderlines(white, $dark-text-color);
    color: $dark-text-color;
    &:hover{
      @include color-animation();
      @include linkUnderlines(white, $brand-color);
      color: $brand-color;
    }
  }
  span.span-bold{
    font-weight: $semi-font-weight;
    margin-right: 0.5em;
  }
  p{
    width: 300px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $dark-text-color;
    }
}


span.newline{
  display:block;
}


/**
 * Blockquotes
 */
blockquote {
    color: $light-text-color;
    border-left: 4px solid $light-text-color;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    max-width: $content-width / 1.5;
    //letter-spacing: -1px;
    font-style: italic;
    margin-top: 2rem;
    a{
      @include linkUnderlines(white, $light-text-color);
    }
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    //border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}





/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $light-grey-color;
        }
    }
}


/**
 * Site footer
 */

#footer-canv{
  width: 100%;
  height: 3px;
  position:absolute;
}



/**
 * Projects
 */

@mixin project-image-hover{
  &.hover{
    .project-go{
      @include slide-up();
    }

    h3, span{
      @include slide-down();
      visibility: hidden;
    }

    &::after{
      opacity: 1 !important;
    }
  }
}


.project{
  display: block;
  position: relative;
  overflow: hidden;

  @include stop-flicker();

  h3, span{
    position: relative;
    top: 25px;
  }

  h3{
    //@include slide-up();
    font-weight: $bold-font-weight;
    font-size: 1em;
    margin-bottom: $spacing-unit/3;
  }

  span{
    display: block;
    font-size: 0.65em;
    line-height: 1.75em;
  }

  span.soon{
    color: $light-brand-color;
    font-weight: $bold-font-weight;
  }

  .project-go{
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: $brand-color;
    text-align: center;

    p{
      font-weight: $base-font-weight;
    }
  }


  @include project-image-hover();

}


@mixin project-image-after($image){
  content: "";
  opacity: $index-image-opacity;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background:url('/assets/images/thumbnails/'+ $image + '.jpg') no-repeat;
  background-size: cover;

  @include opacity-animation();

}

#project-night-light{

  &::after {
    //noinspection CssUnknownTarget
    @include project-image-after('night-light');
    background-position: right top;
  }

}

#project-dover{

  &:after{
    //noinspection CssUnknownTarget
    @include project-image-after('dover');
    background-position: center bottom;
  }

}

#project-strava-club{

  &::after{
    //noinspection CssUnknownTarget
    @include project-image-after('strava-club');
    background-position: center center;
  }

}

/**
 * Screen Saver
 */

#screen-saver-player{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
}

.zoom-overlay.overlay-dark{
  background: black;
  z-index: 999;
}

.video-overlay{
  z-index:1001;
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
}
