article.blog{

  header{
    margin-top: $spacing-unit * 3;
    p{
      width: inherit;
      font-style: italic;
    }

    h1{
      text-transform: none;
      font-family: $secondary-font-family;
      font-weight: $bold-font-weight;
    }
  }


}
