article.blog{

  header{
    margin-top: $spacing-unit * 3;
    margin-bottom: $spacing-unit * 3;
    p{
      width: inherit;
    }

    h1{
      text-transform: none;
      font-family: $secondary-font-family;
      font-weight: $bold-font-weight;
    }
  }


}

@include media-query($on-tablet) {
  article.blog{
    header{
      &.post-header{
        color: $dark-grey-color !important;
      }
    }
  }

}

