/**
 * Index content
 */

article.index{

  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;

  h2{
    text-transform: uppercase;
    font-weight: $bold-font-weight;
    font-size: 1.5rem;
    color: $brand-color;
    display: block;
    margin-bottom: 0;
  }
  h3{
    text-transform: uppercase;
    font-weight: $semi-font-weight;
    font-size: 1.25rem;
  }

  canvas{
    width: 100%;
    top:0;
    left:0;
    position:absolute;
    z-index: $z-back;
  }


  // INDEX HEADER
  header{
    height: 300px;
    //overflow: hidden;
    position:relative;

    div{
      width: 100%;
    }

    h1{
      font-family: $base-font-family;
      font-size: 1.5em;
      text-transform: uppercase;
    }
    img{
      position:absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      bottom: 0;
    }

    p, a{
      font-size: 1.75rem;
      line-height: 2.75rem;
      z-index: 1;
      b{
        font-weight: $semi-font-weight;
      }
    }
    .right-side{
      height: 240px;
      img{
        z-index: $z-front;
      }
    }
    .hello-span{
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      span{
        font-size: 1rem;
        font-weight: $base-font-weight;
        @include color-animation();
      }
      .hello-hover{
        color:$brand-color;
        @include linkUnderlines(white, $brand-color);
      }
      &:hover{
        cursor: default;
      }
    }

    .fade-white {
      background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6));
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index:$z-middle;
      height: 100px;
      padding: 0;
    }

    .index-scroll-down {
      visibility: hidden;
    }
  }

  // INDEX BLOG
  .blog-posts{
    background: rgba(255,255,255,0.6);
    position: relative;
    .post{
      margin: $spacing-unit/2 0;
      display: inline-block;
      width:100%;
      max-width: 600px;
    }
    a{
      h3{
        @include linkUnderlines(white, $dark-text-color);
        display: inline;
        text-transform: none;
      }
      &:hover{
        h3{
          @include color-animation();
          @include linkUnderlines(white, $brand-color);
        }
      }
      p{
        font-size: 1rem;
        color: $dark-text-color;
      }
      span{
        color: $dark-text-color;
        display: block;
        font-size: 0.75rem;
      }
    }
  }

  // INDEX CONTACT
  .blog-posts{

    padding-bottom: $spacing-unit * 2;

    a.email{
      @include linkUnderlines(white, $dark-text-color);
      color: $dark-text-color;
      &:hover{
        @include color-animation();
        @include linkUnderlines(white, $brand-color);
        color: $brand-color;
      }
    }


    span.contact-label{
      font-weight: $base-font-weight;
    }

    span{
      font-family: $secondary-font-family;
      font-weight: $light-font-weight;
      line-height: 1.75;
      font-size: 1rem;
    }


    .social-group{
      margin-top: $spacing-unit / 2;
      font-size: 1.25rem;
      a{
        color: $dark-text-color;
        &:hover{
          @include color-animation();
          color: $brand-color;
        }
      }
      i{
        margin: 0 12px 0 5px;
        font-size: 1.25rem;
      }
    }


  }


  & + footer {
    margin-top: 0;
  }



}


// ON TABLET
@include media-query($on-tablet){


  article.index {
    max-width: 100%;

    header{
      margin-left: 40px;
      margin-right: 40px;
      p, a {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .fade-white{
        height: 50px;
        padding: 0;
      }
    }


    .blog-posts{
      padding: $spacing-unit 40px;
    }

    #projects{
      padding-left: 40px;
      padding-right: 40px;
      h2{
        position:relative;
        top:0;
      }
    }

    .blog-posts{
      padding-left: 40px;
      padding-right: 40px;
    }
  }


}

@include media-query($on-mobile) {

  article.index {


    .project{
      flex-basis: 100%;
      max-width: none;
      margin: $spacing-unit 0 0 0;
      height: auto;
    }
    #projects {
      padding-left: 15px;
      padding-right: 15px;
    }

    .blog-posts{
      padding: $spacing-unit 15px;
    }

    h3 {
      font-size: 1.1rem;
    }

    header{
      flex-direction: column;
      height: initial;
      margin:0;
      div{
        padding: 25px 0;
      }

      .fade-white{
        height: 40px;
        padding: 0;
      }

      p, a{
        padding: 15px 15px 0 15px;

        font-size: 1.25rem;
        line-height: 2rem;
      }
      a{
        padding:0;
      }

      .right-side{
        width: 100%;
        height: initial;
      }

      .index-scroll-down{
        visibility: visible;
        text-align: center;
        span{
          position: relative;
          top: 50%;
        }
        span, a{
          font-size: 1rem;
        }
      }
    }
  }

}
