/**
 * Index content
 */

article.index{

  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;

  header{
    height: 255px;

    div{
      height: 193px;
    }

    img{
      position:absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      bottom: 0;
    }

    .right-side{
      height: 240px;
    }
    .hello-span{
      span{
        font-size: 1rem;
        font-weight: $base-font-weight;
      }
      &:hover{
        cursor: default;
      }

    }

  }


  h1{
    font-family: $base-font-family;
    font-size: 2em;
    text-transform: uppercase;
  }


}



.social-group{
  margin-top: $spacing-unit / 2;
  font-size: 1.25rem;
  a{
    color: $dark-text-color;
    &:hover{
      @include color-animation();
      color: $brand-color;
    }
  }

  i{
    margin: 0 10px 0 2px;
    font-size: 1rem;
  }
}

.copyright{
  position: absolute;
  bottom: $spacing-unit / 2;
  right: $spacing-unit;
  color: $light-text-color;
}



// ON TABLET
@include media-query($on-tablet){


  article.index {

  }


}

@include media-query($on-mobile) {

  article.index {

  }

}
