/**
 * Site header
 */
.site-header {
  min-height: 56px;

  padding-top: 5em;
  padding-bottom: 9em;
  h1{
    display:inline-block;
    margin-left: 20px;
    font-family: $secondary-font-family;
    font-size: 1em;
    font-weight: $bold-font-weight;
    vertical-align: middle;
  }

  .wrapper{
    position: relative;
    text-align: center;
  }

  .wrapper:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}


#logo{
  display: inline-block;
  width:  61px;
  height: 31px;

  svg{
    width: 100%;
    height: 100%;
  }
}

/**
 * Site footer
 */
#footer-canv{
  width: 100%;
  height: 3px;
  position:absolute;

}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {

}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

