/**
 * Order
 */

$z-front: 1000;
$z-middle: 100;
$z-back:     0;

.z-back{
  z-index: $z-back;
}

.z-middle{
  z-index: $z-middle;
}

.z-front{
  z-index: $z-front;
}


/**
 * Site header
 */


/**
 * Nav
 */

nav {
  border-bottom: $dashed-border;

  a {
    @include linkUnderlines(white, $light-text-color);
    color: $light-text-color;
  }
}

@include media-query($project-header) {
  nav {
    padding: 0 40px;
  }
}


@include media-query($on-mobile) {
  nav {
    padding: 0 20px;
  }
}

nav, footer{

  max-width: $project-header;
  margin: 50px auto 0 auto;

  a{
    @include linkUnderlines(white,$light-text-color);
    color: $light-text-color;
    font-size: 0.75rem;
    &:hover, &:visited:hover {
      @include color-animation();
      @include linkUnderlines(white, $brand-color);
      color: $brand-color;
    }
  }
}

@include media-query($on-tablet) {
  nav {
    padding-bottom: 10px;
    margin: 10px auto 0 auto;
  }
}


/**
 * Site footer
 */

footer{
  max-width: $project-header;
  border-top: $dashed-border;
  margin: $spacing-unit auto;

  #more-projects{
    background-color: $brand-color;
    color: white;
  }
  .project{
    z-index: $z-front;
    display: flex;
    color: white;

    a{
      color: white;
      text-shadow: none;
      background-image: none;
      font-size: 1rem;
    }
  }
}


@include media-query($project-header) {
  footer {
    a{
      margin: 20px 40px;
    }
  }
}

@include media-query($on-tablet) {
  footer{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    .footer-wrapper {
      margin: 10px auto 0 auto;
    }
  }
}


@include media-query($on-mobile) {
  footer{
    a{
      margin: 20px 20px;
    }
    .footer-wrapper{
      height: 325px;
      margin: 10px auto 0 auto;
    }
  }
}


@mixin project-image-hover{
  &.hover{
    .project-go{
      @include slide-up();
    }

    h3, span{
      @include slide-down();
      visibility: hidden;
    }

    &::after{
      opacity: 1 !important;
    }
  }
}

.footer-wrapper{
  margin: $spacing-unit auto;
  height: 400px;
  max-width: $content-width / 1.5;
  align-items: stretch;
  background-color: $dark-grey-color;
  @include project-image-hover();

}



@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {

}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

/**
 * Flexbox
 */

.flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.flex-row{
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column{
  -webkit-flex-direction: column;
  flex-direction: column;
}

.right-side, .left-side{
  flex:1;
  position: relative;
}

.center-children{
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-end{
  justify-content: flex-end;
}

.flex-items-end{
  align-items: flex-end;
}

.flex-start{
  justify-content: flex-start;
}

.center-text{
  text-align: center;
}

.full-height{
  height: 100vh;
}


.half-height{
  height: 50vh;
}

.half-width{
  flex: 1 0 50%;
}

.full-width{
  flex: 1 0 100%;
}

.flex-child{
  flex:1;
}

.vertical-align{
  display: inline-block;
  vertical-align: middle;
}
