@charset "utf-8";

// Our variables
$base-font-family: "Righteous", Helvetica, Arial, sans-serif;
$secondary-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$light-font-weight:300;
$semi-font-weight: 600;
$bold-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors
$dark-text-color:  #262932;
$light-text-color: #969696;
$white-text-color: white;
$highlight-color:  #fbf698;

$background-color: #FFFFFF;
$brand-color:      #CA6AFF;
$light-brand-color:#e2adff;
$light-grey-color: #FAFAFA;
$mid-grey-color:   #e6e6e6;
$dark-grey-color:  #383838;

// Width of the content area
$content-width:    850px;
$on-mobile:        600px;
$on-tablet:        870px;
$project-header:   1000px;
$on-laptop:        1024px;
$on-desktop:       99999px;


// Margin for different screens
$margin-mobile:   20px;
$margin-tablet:   60px;
$margin-laptop:   60px;
$margin-desktop:  100px;


// Opacity
$index-image-opacity: 0.2;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
