article.post{

  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;


  header p{
    line-height: 1.5em;
  }
  h1{
    font-family: $base-font-family;
    font-size: 2em;
    text-transform: uppercase;
  }
  h2{
    font-family: $secondary-font-family;
    font-weight: $semi-font-weight;
    font-size: 1.75em;
    margin-top: $spacing-unit * 2;
  }

  p,h3{
    font-family: $secondary-font-family;
    font-weight: $base-font-weight;
    font-size: 1em;
    line-height: 2em;
  }
  p{
    strong{
      font-weight: $semi-font-weight;
    }
    a{
      @include linkUnderlines(white, $dark-text-color);
      @include color-animation();
      &:hover{
        @include linkUnderlines(white, $brand-color);
      }
    }
  }

  h3{
    font-weight: $semi-font-weight;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  img{
    margin-top: $spacing-unit / 2;
    width: 100%;

    &.small {
      max-width: $content-width / 2 - $spacing-unit / 4;
    }

    &.right {
      float: right;
    }
  }




}

@include media-query($on-tablet) {
  article.post{
    font-size: 14px;

    h2{
      margin-top: $spacing-unit;
    }

    header {
      margin-top: 0;
      margin-bottom: $spacing-unit * 2;
      a, a:visited{
        @include linkUnderlines($dark-grey-color, white);
        color: white;
        &:hover{
          @include linkUnderlines($dark-grey-color, $brand-color);

        }
      }
     }
    .post-header{
      align-items: flex-start;
      color: white;
      img{
        opacity: 0.2;
      }
      .right-side{
        display: none;
      }
      .left-side{
        margin: 0 -40px 0 -40px;
        overflow-x: hidden;
        padding: 30px 40px;
        background-color: $dark-grey-color;
        z-index: $z-front;
      }

    }

    img.small{
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;

      &.right{
        float: none;
      }
    }


    padding: 0 40px;
  }

}

@include media-query($on-mobile) {
  article.post{
    padding: 0 20px;
    .post-header{
      .left-side{
        margin: 0 -20px 0 -40px;
      }
    }
    .left-side {
      margin: 0 -20px;
      padding: 30px 20px;
    }
  }

}

