{{> html_head}}

<div class="content zoom-out">

    <header>
        <h1>{{title}}</h1>
        <h2>hello my name is Collin</h2>
    </header>


    <div class="pages">

    </div>

    <button id="exit-button">back</button>

    <div class="page-moving">
        <div class="page-moving-inner"></div>
    </div>

    <footer>
        <h5>thanks for visiting!</h5>
    </footer>
</div>

{{> html_foot}}