{{> html_head}}

<div class="content">
    <h1>{{title}}</h1>

    <header class="about">
        <h2>hello my name is Collin</h2>
    </header>

    <div class="pages">

    </div>

    <button id="exit-button">back</button>

    <footer>
        <h5>thanks for visiting!</h5>
    </footer>
</div>

{{> html_foot}}