{{#ignorePartialsTemplate}}
    {{> html_head}}
{{/ignorePartialsTemplate}}

<div class="page--container">
    <img src="/img/collin_ranier.jpg">
    <h1>{{title}}</h1>
    {{body}}
</div>

{{#ignorePartialsTemplate}}
    {{> html_foot}}
{{/ignorePartialsTemplate}}