{{#BothIgnoreThis}}
{{> html_head}}
{{/BothIgnoreThis}}

<div class="page--container">
    {{#ContentIgnoreThis}}

    <div class="page-preview">
        <h1>{{title}}</h1>
    </div>

    {{/ContentIgnoreThis}}

    {{#PreviewsIgnoreThis}}

    <div class="page-content">
        <img src="/img/collin_ranier.jpg">
        <h3>hello content</h3>
        {{body}}
    </div>

    {{/PreviewsIgnoreThis}}
</div>

{{#BothIgnoreThis}}
{{> html_foot}}
{{/BothIgnoreThis}}