{{#ignorePartialsTemplate}}
{{> html_head}}
{{/ignorePartialsTemplate}}

<div class="page--container">
    <h1>{{title}}</h1>
    <img src="/img/collin.jpg">
    {{body}}
</div>

{{#ignorePartialsTemplate}}
{{> html_foot}}
{{/ignorePartialsTemplate}}