---
layout: default
---


<nav>
  <a href="{{site.url}}">{{site.title}}</a>
</nav>

<article class="post center-children" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header flex-container flex-items-end">

    <div class="left-side" id="project-{{page.link}}">


      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p>{{page.description}}</p>

      <span class="newline"><span class="span-bold">timeline</span>{{page.time}}</span>

      <span class="span-bold">team mates </span>
      {% for member in page.team %}
      <a href={{member.link}} target="_blank">{{ member.name }}</a>
      {% endfor %}
    </div>

    <div class="right-side">
      <img src="{{site.url}}assets/images/thumbnails/{{page.thumbnail}}.jpg" data-action="zoom">
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% include footer.html %}
