<!DOCTYPE html>
<html lang="en" xmlns="http:/www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width" />
<head>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/portfolio.css">
    <title>Collin Walker</title>
</head>
<body>
