---
layout: page
title: Collin Walker
---

<div class="index">

  <header class="flex-container flex-items-end">
    <div class="flex-container flex-column left-side">


      <h1 class="post-title" itemprop="name headline">Collin Walker</h1>
      <span class="hello-span">
        <span>Hello there friend. I'm a </span>
        <span class="underline-default_color-white_bg" id="hello-ux">ux engineer</span>
        <span>up here in </span>
        <span class="underline-default_color-white_bg" id="hello-seattle">Seattle</span>
        <span>Washington. When I'm offline you can catch me </span>
        <span class="underline-default_color-white_bg" id="hello-slack">slacklining</span>
        <span>or bumping my</span>
        <span class="underline-default_color-white_bg" id="hello-music">music</span>
        <span>a bit too loud.</span>
      </span>

    </div>
    <div class="right-side" id="index-right">
      <img id="gif-ux" class="visibility-hidden" src="./assets/images/ux-engineer.gif">
      <img id="gif-slack" class="visibility-hidden" src="./assets/images/slackline-dog.gif">
      <img id="gif-seattle" class="visibility-hidden" src="./assets/images/seattle.gif">
      <img id="gif-music" class="visibility-hidden" src="./assets/images/music.gif">

    </div>
  </header>

  <div class="flex-container flex-row flex-start">


    {% for project in site.footer_project %}
    {% if project.title != page.title %}
    <div class="project flex-container center-children" id="project-{{project.link}}">

      {% if project.published %}
      <a href="{{site.url}}project/{{project.link}}">
        <h3>{{ project.title }}</h3>
      </a>
      {% else %}
      <a>
        <h3>{{ project.title }}</h3>
      </a>
      <p>coming soon</p>
      {% endif %}

    </div>

    {% endif %}
    {% endfor %}
  </div>

</div>
